:host {
  font-family: "MTNBrighterSans-Medium","Century Gothic",Arial,sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.progress{
  height: 1px;
}
.progress .progress-bar{
  width: 25%
}
p {
  margin: 0;
}
.navbar {
  height: 80px;
}
.navbar-nav{
  margin-left: 50px;
  font-family: "Calibri";
  font-size: 20px;
}
.navbar-nav li {
  margin-right: 20px;
}
.navbar .img-logo {
  height: 80px;
  width: 80px;
  background-color: white;
  text-align: center;
  z-index: 9999;
}
.navbar img {
  height: 80px;
  width: 80px;
}
.navbar .search-container {
  height: 19px;
  width: 18px;
}

.bg-bluestrips {
  /*background-image: repeating-linear-gradient();*/
}

.content {
  background-color: #FFD6D6;
  height: 880px;
}
.container-main .background {
  background-color: #E7F5F6;
  height: 880px;

  display: flex;
  justify-content: space-between;
}
.background div {
  background-color: #D6EAEC;
  width: 2%;
}

.background div:first-child, .background div:last-child {
  background-color: #E7F5F6;
}

.app-home {
  z-index: 2;
  margin: 0 12%;
}
