.container-main {
  margin: 0 12%;
  position: absolute;
  left: 0;
  right: 0;
}

.box-bg {
  display: none;
  position: absolute;
  height: 292px;
  width: 216px;
  border-radius: 16px;
  background-color: #FFC000;
  box-shadow: 0 16px 40px 0 rgba(0,0,0,0.32);
  z-index: -1;
}
.box{
  height: 284px;
  background: linear-gradient(180deg, #FFFFFF 0%, #EBEBEB 100%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5px;
  z-index: 3;
}
.model {
  height: 80px;
  width: 80px;
  max-height: 100%;
  max-width: 100%;
}
.box-name {
  color: #232323;
  font-family: "Work Sans", Calibri;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 24px;
  text-align: center;
}
.box:hover{
  background: linear-gradient(180deg, #323232 0%, #323232 100%);
  transform-style: preserve-3d;
  transform: scale(1.02);
  transition: all ease 0.3s;
}
.box:hover .box-name{
  color: #FFFF;
}

/* owl carousel */
.owl-stage .owl-item:not(last-child) {
  margin-right: 20px;
}

.owl-stage{
  position: absolute;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

.owl-carousel .owl-item {
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),
  0 2px 2px rgba(0,0,0,0.15),
  0 4px 4px rgba(0,0,0,0.15),
  0 8px 8px rgba(0,0,0,0.15);
  border-radius: 10px;
}

.owl-carousel .owl-item.active.center {
  min-width: 450px;
  margin-bottom: 30px;
  /*transition: all 0.1s;*/
}
.owl-carousel .owl-item img {
  height: 80px;
  width: 80px;
  max-height: 100%;
  max-width: 100%;
}
.owl-carousel .owl-stage-outer {
  padding-top: 150px;
}

.owl-carousel .owl-item.active.center  {
  margin-left: 10px;
  margin-right: 30px;
}

.owl-carousel .owl-item.active.center .box {
  margin-top:2px;
  height: 536px;
  width: 450px;
  box-shadow: 0 8px 1px #FBC001;
}
.owl-carousel .owl-item.active.center .model{
  height: 160px;
  width: 160px;
}
.owl-carousel .owl-item.active.center .box-name {
  font-size: 40px;
  line-height: 58px;
}

.owl-theme .owl-nav {
  margin-top: -88px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.btn-dark {
  width: 40px;
  height: 40px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1980px) {
  .owl-carousel .owl-stage {
    margin-left: -32px;
  }
}

@media only screen and (max-width: 1680px) {
  .owl-carousel .owl-stage {
    margin-left: -40px;
  }
}

@media only screen and (max-width: 1368px) {
  .owl-carousel .owl-stage {
    margin-left: -47px;
  }
}

@media only screen and (max-width: 900px) {
  .owl-stage .center[style] {
    width: 0 !important;
  }
  .owl-carousel .owl-stage {
    margin-left: 56px;
  }
}

@media only screen and (max-width: 800px) {
  .owl-stage .center[style] {
    width: 0 !important;
  }
  .owl-carousel .owl-stage {
    margin-left: 39px;
  }
}

@media only screen and (max-width: 700px) {
  .owl-stage .center[style] {
    width: 0 !important;
  }
  .owl-carousel .owl-stage {
    margin-left: 21px;
  }
}
